* {
    font-family: monospace;
    font-size: 14pt;
    color: #f5f5f5;
    background-color: #333;
}

.draw-board {
    width: 504px;
    height: 400px;
    border: 3px solid #f5f5f5;
    margin: 0 auto;
}

.hide-input {
    height: 0;
    width: 0;
    background-color: transparent;
    color: transparent;
    font-size: 1px;
}