* {
    font-family: monospace;
    font-size: 14pt;
    color: #f5f5f5;
    background-color: #333;
}

.draw-board {
    width: 500px;
    height: 400px;
    border: 3px solid #f5f5f5;
    margin: 0 auto;
}