* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12pt;
    margin: 0;
    padding: 0;
    position: relative;
    color: #333;
    background-color: #fafafa;
}

body {
    padding: 5px;
}

h1 {
    font-size: 1.8em;
    margin-bottom: 10px;
}

h2 {
    font-size: 1.5em;
    margin: 5px 0 5px 5px;
}

ul {
    height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0;
    padding: 0;
}

li {
    border: 2px solid #333;
    list-style-type: none;
    margin: 0;
    padding: 12px 0 12px 12px;
    cursor: pointer;
}

li:hover {
    border: 2px solid #22aa66;
    color: #22aa66;
}

.col {
    width: 32%;
    display: inline-block;
    padding: 5px;
    vertical-align: top;
}

.details {
    border: 2px solid #333;
    border-radius: 10px;
    padding: 5px;
}
    .details div {
        vertical-align: top;
    }
    .details label {
        display: block;
        font-size: .7em;
        font-weight: bold;
    }
    .details p {
        display: block;
        padding-left: 3px;
        overflow-wrap: break-word;
    }
    .details div {
        display: inline-block;
        width: 49%;
    }

.hide {
    display: none;
    visibility: hidden;
    width: 0;
    height: 0;
    opacity: 0;
}

.loading {
    background-color: #111;
    position: absolute;
    opacity: .6;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-height: 256px;
    min-width: 256px;
    z-index: 999999;
}
    .loading img {
        background-color: transparent;
        position: absolute;
        top: calc(50% - 128px);
        left: calc(50% - 128px);
    }