* :hover{
    border: 2px solid yellow;
}

html{
    background: url('http://mumstudents.org/cs472/2018-01-RS/Labs/2/background.gif');
    background-repeat: repeat;
}

body{
    margin: auto 10%;
    /* border: 5px solid green; */
    border: 10px solid white;
    background-color: white;
}

header{
    /* border: 5px solid red; */
    background-color: #A8F0F0;
    border-radius: 50% 15px 15px 50%;
    padding: 10px;
    text-align: right;
}

h1{
    text-shadow: 0 0 6px #005057;
}

header h2{
    /* border: 5px solid orange; */
    font-size: 14pt;
}

aside {
    float: left;
    width: 200px;
    background-color: #A8F0F0;
    border: 4px solid #90E0F0;
    border-radius: 25% 50% 25% 35%;
    padding: 10px;
    margin-top: 7px;
}

aside li {
    list-style-type: none;
    margin-top: 10px;
}

main {
    margin-left: 230px;
}

time {
    /* border: 5px solid purple; */
    border-bottom: 2px dashed blue;
}

section {
    /* border: 5px solid blue; */
    border: 4px solid #C2E9E9;
    border-radius: 15px;
    background-color:  #E8FBFB;
    padding: 5px;
    margin-top: 10px;
    overflow: auto;
}

section img{
    float: right;
}

p{
    text-align: justify;
}

@media (max-width: 768px){
    aside{
        display: block;
        float: initial;
        width: calc(100% - 6px);
        padding: 0;
        border-radius: 10px;
    }

    aside ul{
        margin: 0;
        padding: 0;
    }

    aside li{
        display: inline-block;
        border: 4px solid #90E0F0;
        border-radius: 10px;
        padding: 5px;
    }

    main{
        margin-left: 0;
    }

    body{
        margin: auto 2%;
    }
}