*{
    font-family: Verdana, sans-serif;
    padding: 0;
    margin: 0;
    font-size: 100%;
}

html {
    background: url('background.png');
    background-repeat: repeat;
}

h1{
    font-size: 24pt;
    font-weight: bold;
    font-family: Tahoma, Verdana, sans-serif;
    text-shadow: 3px 3px  #999999;
    text-align: center;
}

main{
    position: relative;
    max-width: 800px;
    margin: auto;
    border: 4px solid gray;
    border-radius: 20px;
    overflow: auto;
}

section.reviews h2{
    /* This is necessary to hack the html validator */
    visibility: hidden;
    display: none;
}

.banner{
    background: url('bannerbg.png');
    background-repeat: repeat-x;
    text-align: center;
}

.rating{
    width: 550px;
    background: url('rbg.png');
    background-repeat: repeat-x;
}

.rating img{
    vertical-align: bottom;
}

.rating span{
    font-size: 48pt;
    font-weight: bold;
    color: red;
}

.reviews{
    max-width: 550px;
}

.review{
    /*but avoid the new column-* CSS3 properties.*/
    width: 47%;
    vertical-align: top;
    display: inline-block;
}

.review img{
    float: left;
    margin-right: 5px;
}

.review p{
    overflow: auto;
    font-size: 8pt;
}

.review p:first-of-type{
    background-color: #E8DC9B;
    border: 2px solid gray;
    border-radius: 10px;
    padding: 8px;
    font-weight: bold;
}

.review p:last-of-type{
    margin-bottom: 20pt;
}

.review .publication{
    font-style: italic;
}

.overview{
    background-color: #A2B964;
    float: right;
    width: 250px;
    font-size: 8pt;
    font-family: Arial, sans-serif;
    padding-bottom: 10px;
    margin-bottom: 30px;
}

.overview dl{
    padding-left: 10pt;
}

.overview dt{
    margin-top: 10pt;
    font-weight: bold;
}

.overview li{
    list-style-type: none;
}

.paging {
    position: absolute;
    background-color: #A2B964;
    text-align: center;
    bottom: 0;
    left: 0;
    right: 0;
    height: 30px;
}

.paging p {
    padding: 5px;
    margin: 0;
}

.validators{
    position: fixed;
    opacity: .5;
    left: calc(50% + 410px);
    bottom: 0;
}