@media (max-width: 971px){
    .size-5 {  width: 95%; }
    .size-10 { width: 95%; }
    .size-15 { width: 95%; }
    .size-20 { width: 95%; }
    .size-25 { width: 95%; }
    .size-30 { width: 95%; }
    .size-35 { width: 95%; }
    .size-40 { width: 95%; }
    .size-45 { width: 95%; }
    .size-50 { width: 95%; }
    .size-55 { width: 95%; }
    .size-60 { width: 95%; }
    .size-65 { width: 95%; }
    .size-70 { width: 95%; }
    .size-75 { width: 95%; }
    .size-80 { width: 95%; }
    .size-85 { width: 95%; }
    .size-90 { width: 95%; }
    .size-95 { width: 95%; }
    .size-100 { width: 95%; }

    form {
        width: 100%;
    }

    form fieldset img {
        display: block;
        float: initial;
        height: auto;
        max-width: 250px;
    }
}