* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    font-size: 12pt;
    background-color: #fdfdfd;
    color: #333;
}

div {
    margin: 10px auto 5px auto;
    width: 90%;
    display: block;
}

label {
    width: 150px;
    display: inline-block;
    text-align: right;
    margin-right: 20px;
}

textarea {
    width: 100%;
}

button {
    width: 100%;
    height: 50px;
    font-size: 16pt;
    color: #fdfdfd;
    background-color: #00ca75;
    border: 1px solid #333;
    border-radius: 5px;
}

input,
textarea {
    border: 1px solid #333;
    border-radius: 3px;
    padding: 8px;
}